@mixin blackgradient{background: rgba(255,255,255,0);
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.48) 48%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(48%, rgba(0,0,0,0.48)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.48) 48%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.48) 48%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.48) 48%, rgba(0,0,0,1) 100%);
background: linear-gradient(top bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.48) 48%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );}



.admin-dashboard-article-container,.admin-dashboard-default-container{width:1250px; min-height:450px; position:relative; top:3.5em; margin:0 auto 2em; 
	
	@import 'admin-subnav-btn';

	.admin-dashboard-btn-container{width:100%; margin:0 10px;
		.admin-dashboard-btn-wrap{display:table; width:100%; padding: 5px 0;
			.admin-dashboard-btn{display:inline-block; margin-right:5px; margin-bottom:5px; padding:5px; border:1px solid #e5e5e5;
				
				.publish{color:green;}
				.archive{color:brown;}
        .review{color:#FFBF00;}
        .pending{color:red;}
        .verify{color:rgba(124,181,236,.25);}
        .active{color:#7cb5ec;}
        .inactive{color:#cccccc;}
        .suspend{color:darkblue;}
				
				.fa-trash{color:#f26522;}
				.fa-user-edit,.fa-user-tie,.fa-user{color:#405365;}
				
				i{font-size:14px; vertical-align: middle; color:#405365;}
				b{display:inline-block; vertical-align: middle; font:normal 12px arial, sans-serif; color:#333; }
			}
		}
	}

	.admin-dashboard-article{width:100%; margin:15px 0; min-height: 250px; padding:10px; background:#ffffff; -moz-box-shadow:2px 2px 1px 0 #ccc; -webkit-box-shadow:2px 2px 1px 0 #ccc; box-shadow: 2px 2px 1px 0 #ccc;}
	
	.admin-dashboard-widget{position:relative; min-width:400px; max-width:100%; height:470px; display:inline-block; vertical-align:top; margin:5px; padding:5px; background:#ffffff; -moz-box-shadow:2px 2px 1px 0 #ccc; -webkit-box-shadow:2px 2px 1px 0 #ccc; box-shadow: 2px 2px 1px 0 #ccc;
			
		.device-used{ width:95%; position:absolute; z-index: 1; bottom: 15px; text-align: center; font:100 28px 'OpenSansRegular', arial, sans-serif;
			.desktop{font-size: 25px; color:#f26522; padding: 0 15px;}
			.mobile{font-size: 28px; color:#405365; padding: 0 15px;}
			.tablet{font-size: 26px; color:#ccc; padding: 0 15px;}
		}
		

		.admin-dashboard-col-1{width:76.75em;}
		.admin-dashboard-col-2{width:50.75em;}
		.admin-dashboard-col-3{width:37.62em; }
		.admin-dashboard-col-4{width:24.6em;}
		.admin-dashboard-col-5{width:20.75em;
			.admin-dashboard-minrow{width:100%; height: 100px}
		}
		
		.admin-dashboard-col-1,
		.admin-dashboard-col-2,
		.admin-dashboard-col-3,
		.admin-dashboard-col-4,
		.admin-dashboard-col-5{display:block; margin:2px auto 0;

			.admin-gender-wrap{margin:2.25em 0;
				.admin-gender-block{display:inline-block; vertical-align:top; width:12.15em; text-align:center;
					
					i.fa-male{color:#405365d5;}
					i.fa-female{color:#f26522d5;}
					i.fa-male,i.fa-female{font-size:9.5em; min-height:1em; padding:10% 0; border-radius:5em; }

					span.male,span.female{font:normal .75em  arial, sans-serif; color:#374654; display:block;}

					b.male,b.female{display:block; font:normal 1.25em 'OpenSansBold', arial, sans-serif; text-align:center; color:#374654;}

				}
			}

			.admin-card-large{display:inline-block; vertical-align:top;
				span.admin-card-unlink-large,
				a.admin-card-link-large{width:13.2em; margin:5px; padding:5.5em 0; display:block; border-radius:.25em; text-align:center; font:normal 14px 'OpenSansBold', arial, sans-serif;
					i{display:block; font-size:28px;}	
				}

				span.admin-card-unlink-large{background:-webkit-linear-gradient(#f26522, #f26522 40%, #f26522); color:#405365; border:1px solid #405365;}
				a.admin-card-link-large{color: #f26522; text-transform: uppercase; background:-webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5); border:1px solid #ccc;
					&:hover {background:-webkit-linear-gradient(#f26522, #f26522 40%, #f26522); color:#405365; border:1px solid #405365; cursor:pointer;}
				}
			}

			.admin-card-medium{display:inline-block; vertical-align:top;
				.admin-card-btn-medium{background:-webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5); border:1px solid #ccc;
					&:hover {background:-webkit-linear-gradient(#f26522, #f26522 40%, #f26522); color:#405365; border:1px solid #405365; cursor:pointer;}
				}
				.admin-card-btn-medium{width:20.55em; margin:5px; padding:.5em 0; height:95px; display:block; border-radius:.25em; text-align:center; color:#405365; font:normal 14px 'OpenSansBold', arial, sans-serif;
					i{font-size:18px;}
					.admin-card-btn{width:100%; margin:10px 0 0;
						span.btn-separetor{display:inline-block; vertical-align:middle; border-left:1px solid #405365; margin:0 15px; height:.75em;}
						a.card-btn{display:inline-block; vertical-align:middle; color:#405365; font:normal 11px arial, sans-serif;}
					}
					b{display:block; font:100 28px 'OpenSansRegular', arial, sans-serif; color:#333333;}	
					nav.admin-card-nav-btn{font:normal 14px 'OpenSansBold', arial, sans-serif;}
				}
			}

			.admin-dashboard-site-overview{width:auto; height:250px; background: #000;}

			.admin-wrap-userengage{margin:0px;
	      span{display:inline-block; vertical-align:middle; font:400 35px 'OpenSansRegular', arial, sans-serif; color:#f26522; text-align:center;}
	      b{display:inline-block;  font:normal 12px 'OpenSansRegular', arial, sans-serif; color:#333; text-align:center;}
	      .admin-oval-userengage{width:50px; height:50px; margin:5px; background:#ffffff; border-radius:95px; color:#cccccc;
		      i{font-size:3.5em; display:block; padding:0;}
		      &:hover{background-color:#cccccc; color:#f2f2f2;}
	    	}
	    }

			.admin-card-admin,
			.admin-card{ width:140px; height:135px; background:#f26522; border:5px #405365 solid; border-radius:75px;
				a{font:400 18px 'OpenSansBold', arial, sans-serif; color:#405365; text-align:center; text-transform:uppercase; display:block; padding:1.25em 0;
	        i{font-size:51px; display: block;}
	         &:hover{color:#ffffff;}
	      }
	      &:hover{ background-color:#ccc;  border: 1px #ccc solid;}
			}
			.admin-card-admin{margin:0 auto;}
			.admin-card{display:inline-block; vertical-align:top; margin:0 29px;} 

			.admin-wrap-section{height:415px; width:100%;
		    .admin-section-block{display:inline-block; vertical-align:top; position:relative;
		    	span{position:absolute; top:5; left:4px; padding:0 5px; background:#f26522; border-radius:3px; border:1px solid #aaa; font:900 12px 'OpenSansRegular', arial, sans-serif; color:#333;}
		      .admin-section-link{width:190px; height:95px; margin:5px 4px; padding:25px 0; display:block; text-align:center; font:normal 12px 'OpenSansRegular', arial, sans-serif; text-transform: uppercase; border:1px solid #aaa; color:#aaa; background:-webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5); border-radius:.25em;
		        &:hover {background-color:#f26522; color:#f26522; cursor:pointer; border:1px solid #f26522;}
		        i{display:block; font-size: 24px;}
		        b{display:block;}
		      }
		    }
		  }

			.admin-dashboard-site-overview{width:auto; height:250px; background: #000;}

			.admin-wrap-userengage{margin:0px;
	      span{display:inline-block; vertical-align:middle; font:400 35px 'OpenSansRegular', arial, sans-serif; color:#f26522; text-align:center;}
	      b{display:inline-block;  font:normal 12px 'OpenSansRegular', arial, sans-serif; color:#333; text-align:center;}
	      .admin-oval-userengage{width:50px; height:50px; margin:5px; background:#ffffff; border-radius:95px; color:#cccccc;
		      i{font-size:3.5em; display:block; padding:0;}
		      &:hover{background-color:#cccccc; color:#f2f2f2;}
	    	}
	    }
			
			.admin-dashboard-row{width:100%; position:relative; margin-top: 10px;
				
				.dasboard-writers-card-image{width:120px; height:115px; overflow:hidden; display:inline-block; vertical-align:top;
					img{width:100%; font-size:8em; text-align:center; color:#eaeaea;}
				}
				
				.dasboard-writers-card{padding:0 5px; display: inline-block; vertical-align:top;
					.dasboard-writers-card-contacts{font:100 14px arial, sans-serif; color:#405365;
						span{display: block; margin-bottom:10px;
							i{margin-right:10px; text-align: center;}
						}
					}
				}
				#scroll-y::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background-color: #F5F5F5;}
				#scroll-y::-webkit-scrollbar{width:2px;background-color: #F5F5F5;}
				#scroll-y::-webkit-scrollbar-thumb{background-color: #405365;}
				.dasboard-writers-card-profile{margin-top:5px; height:240px; overflow-y:scroll;
					h4{font:100 16px 'OpenSansRegular', arial, sans-serif; color:#405365;}
					p{font:100 14px arial, sans-serif; color:#333; margin:15px 0; padding-right:5px; line-height:21px;}
				}

				.dashboard-user-img{ display: inline-block; width:165px; height:130px; overflow:hidden; position:relative; 
					img{width:100%; margin:auto 0; color:#aaaaaa; font-size:8.2em; text-align:center;}
				}

				.dashboard-article-img{ width:390px; height:200px; margin:auto; overflow:hidden; position:relative; 
					img{width:100%; margin:auto 0; color:#aaaaaa; font-size:15em; text-align:center;}
				}

				.dashboard-article-writter-img{border-radius:25px; width:30px; height:30px;
					img{width:100%;}
				}

				.dasboard-article-title{width:100%; height:60px; padding:0 5px;
					h3{font:100 18px 'OpenSansRegular', arial, sans-serif; color:#405365; text-transform:capitalize; line-height:25px; height:75px; overflow:hidden; margin-top:5px;}
				}
				.realtime-results-btn,
				.realtime-results-views{width:48%; display:inline-block; vertical-align:top; text-align:left; border-top:1px dotted #f26522;
					p{font:100 12px 'OpenSansRegular', arial, sans-serif; color:#f26522;}
					h4{font:100 48px 'OpenSansRegular', arial, sans-serif; color:#f26522; text-align:center; padding:.75em 0px;}
					ul{list-style:none;
						li{display:block; padding:5px 0; 
							i{ color:#f2f2f2; font-size:14px; color:#405365;}
							span{font:normal 12px arial; width:90px; display:inline-block; }
							b{ display:inline-block; vertical-align:middle; font:900 16px 'OpenSansRegular', arial, sans-serif; color:#f26522;}
						}
					}
				}
			}

			.admin-user-results-block{width:100%;
				h2{font:100 4em 'OpenSansBold', arial, sans-serif; color:#374654; text-align:center;}
				span.user-results-realtime{display:block; text-align:center; font:normal .75em arial, sans-serif; color:#374654;}
			}

			.margin-top{margin-top:10px;}
			.admin-dashboard-heading{width:100%; height:1.75em; background:#eee; text-transform: capitalize; margin-bottom:5px;

				.view-results-heading{width:10em; display:inline-block; vertical-align:middle;
					i{font-size:18px; color:#f26522; display:inline-block; vertical-align:middle; padding:5px;}
					b{font:100 12px 'OpenSansRegular', arial, sans-serif; color:#405365;}
				}

				.view-text-heading{width:10em; display:inline-block; vertical-align:middle;}

				.view-results-block{width:12.75em; display:inline-block; vertical-align:middle; margin-left:5px; text-align:center;
					h2{font:100 18px 'OpenSansRegular', arial, sans-serif; color:#f26522; display:inline-block; vertical-align:middle;}
					span{font:100 12px 'OpenSansRegular', arial, sans-serif; text-transform:uppercase; color:#405365;}
				}

				.view-addbtn-block{float:right;
					a.addbtn{background-color:#405365; text-transform:uppercase; padding:5px 10px; font:100 12px 'OpenSansRegular', arial, sans-serif; color:#ffffff; display:inline-block; vertical-align:middle;
						i{font-size:14px; display:inline-block; vertical-align:middle;}
					}
				}

				.view-option-block{width:28.15em; float:right;
					select{background:none; display:none; font:100 12px 'OpenSansRegular', arial, sans-serif; color:#405365;}
					span.active{background:#eeeeee; color:#405365;}
					span,a{display:block; float:left; width:90px; padding:5px 0; text-transform:uppercase; text-align:center; font:normal 12px 'OpenSansRegular', arial, sans-serif;}
					a{background:#f26522; color:#333333;}
				}

				.view-related-pages{float:right; background:#f26522;
					span.related-page-active,
					a.related-page{display:block; float:left; padding:0 15px; font:900 21px 'OpenSansRegular', arial, sans-serif; text-align:center; text-transform:uppercase;}
					a.related-page{color:#333;
						&:hover{background:#ec5d19; color:#333333;}
					}
					span.related-page-active{background:#eee; color:#405365;}
				}
				
				.view-user-row{width:100%; background:#405365;
					.view-user-user,
					.view-user-comment,
					.view-user-post,
					.view-user-community,
					.view-user-col-2,
					.view-user-col{display:inline-block; color:#ffffff; font:normal 10px arial, sans-serif; text-transform:uppercase; text-align:left; padding-left:5px;}
					
					.view-user-user{width:205px;}
					.view-user-comment{width:140px;}
					.view-user-post,{width:225px;}
					.view-user-community{width:255px;}
					.view-user-col-2{width:285px;}
					.view-user-col{width:115px;}
				}

				.view-profile-btn-block{width:13.2em;}
				.view-button-revenue{width:17.555em;}
				.view-button-status{width:19.45em;}
				.view-profile-btn-block,
				.view-button-status,
				.view-button-revenue,
				.view-button-block{float:right;
					select{background:none; display:none; font:100 12px 'OpenSansRegular', arial, sans-serif; color:#405365;}

					button.page-btn{transition-duration:0.4s; cursor:pointer; background-color:#405365; color:white; float:left; padding:5px .75em; text-transform:uppercase; text-align:center; font:bold 12px 'OpenSansRegular', arial, sans-serif;
						&:hover{background-color:#eeeeee; color:#405365;}
					}

					a.add-btn,
					span.active,
					span.view-section{display:block; float:right; padding:5px .75em; text-transform:uppercase; text-align:center; font:normal 12px 'OpenSansRegular', arial, sans-serif;}
					
					a.add-btn{background:#405365; color:#f2f2f2;}
					span.active{background:#eeeeee; color:#405365;}
					span.view-section{background:#f26522; color:#333333;}
					a.active-tab{background-color:#cccccc;}

					a.misc-btn{display:block; width:105px; float:left; padding:5px 0; font:900 12px 'OpenSansRegular', arial, sans-serif; text-align:center; text-transform:uppercase;}
					a.misc-btn{background:#405365; color:#f2f2f2;
						&:hover{background:#374654; color:#f2f2f2;}
					}

					/*Trigger/Open The Modal*/
					span.modal_add-btn{cursor:pointer; display:block; width:80px; float:left; padding:5px 0; font:900 12px 'OpenSansRegular', arial, sans-serif; text-align:center; text-transform:uppercase;}
					span.modal_add-btn{background:#405365; color:#f2f2f2;
						&:hover{background:#374654; color:#f2f2f2;}
					}
					/* The Modal (background) */
					.modal::after{display:none; content:''; width:100%; height:100%;}
					.modal{display:none; position:absolute; z-index:3; bottom:0; left:0;  width:100%; height: 100%; height:100%; 
						overflow:auto; background-color:white;
						/* The Close Button */
						.modal-conten-close{color:#aaaaaa; margin:5px 10px; float:right; font-size:28px; font-weight:bold;
							&:hover,&:focus {color:#000; text-decoration:none; cursor:pointer;}
						}
						.modal-content {position:absolute; width:490px; top:50%; left:50%; z-index:2; 
							color:#000; font:900 12px 'OpenSansRegular', arial, sans-serif; text-align:center;
    					-webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
			        a.modal-content-wrap-row-btn{display:inline-block; vertical-align:top; width:100px; height:100px; margin:0 10px; 
			          background:#f26522; border:2px #f26522 solid; border-radius:15px; padding:1em 10px; color:#333333;
			          font:900 12px 'OpenSansRegular', arial, sans-serif; text-align:center; text-transform:uppercase;  
			          
			          i{font-size:3em;}
			          b{display:block; padding:5px 0 0; font-size:1.2em;}
			          
			          &:hover{border:1px solid #ccc; color:#333; border:#f26522 1px solid; 
			          -webkit-box-shadow:0px 0px 16px 0px rgba(0,0,0,0.75); 
			          -moz-box-shadow:0px 0px 16px 0px rgba(0,0,0,0.75);
			          box-shadow:0px 0px 16px 0px rgba(0,0,0,0.75);}
			        }
						}
					}

				}
			}

			.admin-dashboard-filter{width:100%; border-bottom:1px solid #eee; padding:5px 0; font:100 12px 'OpenSansRegular', arial, sans-serif; color:#405365;}

			.admin-dashboard-user{display: inline-block; width:100%; vertical-align:top;
				.table_heading_row{border-bottom:#ccc 1px solid;}
		    .table_row:nth-child(even){background:#ffffff;color:#333;}
		    .table_row:nth-child(odd){background:#e2e2e2;color:#333;}
		    .table_heading_row,.table_row{font:100 14px 'OpenSansRegular', arial, sans-serif; color:#405365;	
		    	.table_h_id_col,.table_h_user_col,.table_h_time,.table_h_email,
		    	.table_id_col,.table_user_col,.table_time,.table_email{padding:3px; display:inline-block;  vertical-align:top; overflow:hidden; text-align: center;}
		    	.table_h_id_col,.table_id_col{width:40px}
		    	.table_h_user_col,.table_user_col{width:200px}
		    	.table_h_email,.table_email{width:205px}
		    	.table_h_time,.table_time{width:100px}
		    } 
			}

			

			.admin-dashboard-status{font:100 62px 'OpenSansRegular', arial, sans-serif; color:#f26522; margin:10px 0;}
			.algin-right{text-align:right;}
			.algin-left{text-align:left;}
			.algin-center{text-align:center;}
			.admin-dashboard-info{font:100 12px 'OpenSansRegular', arial, sans-serif; color:#405365;
				b{font-size:14px; font-weight: bold; color:#f26522;}
				span{display:inline; font-size:14px; font-weight:bold; text-transform:uppercase;
					i{font-size:24px; margin:0 15px;}
					.male{color:#405365;}
					.female{color:#405365;}
					b{font-size:18px; font-weight: bold; color:#f26522;}
				}
			}

			.admin-dashboard-user-chart,
			.admin-dashboard-chart{width:100%; height:400px;
				.highcharts-credits{display: none; visibility: hidden;}
				.highcharts-color-y{background-color:red;}

			}

			.admin-dashboard-campaign{width:100%; 
		    .campaign-performance{ display:inline-block; vertical-align:top; width:12.5em; padding:20px 15px; background:#f2f2f2;
		      span.performance-segment{display:block; font:normal 12px  arial, sans-serif; color:#333333;}
		      b.performance-results{display:block; font:100 28px 'OpenSansRegular', arial, sans-serif; color:#333333;}
		      span.performance-status{display:block; font:100 12px 'OpenSansRegular', arial, sans-serif; color:#f26522;}
		    }

		    p{text-align:center; margin:15%  0; font:100 18px arial, sans-serif; color:#333333;}
		  }
		}
	}
}	