.table_head_row{background-color:#f26522; padding:.2em 0 0; 
  .table_head_flag,
  .table_head_img,
  .table_head_section,
  .table_head_title,
  .table_head_created,
  .table_head_stats,
  .table_head_status,
  .table_head_btn{display:inline-block; vertical-align:top; height:15px; text-align:center; font:normal 12px Op, Arial; color:#ffffff;}
  
  .table_head_flag{width:25px; margin:0 5px;}
  .table_head_img{width:55px;}
  .table_head_section{width:96px;}
  .table_head_title{width:10em;}
  .table_head_created{width:8em;}
  .table_head_stats{width:5.65em;}
  .table_head_status{width:125px;}
  .table_head_btn{width:35px;}
}

.table_row:nth-child(even){background:#f4f4f4;}
.table_row:nth-child(odd){background:#e4e4e4;}
.table_row{margin:0;
  .table_flags,
  .table_hover,
  .table_section,
  .table_title,
  .table_status,
  .table_created,
  .table_stats{display:inline-block; vertical-align:top; line-height: 21px; font:normal 12px Op, Arial;}   
  .table_flags{width:25px; height:20px; margin:.65em 5px; img{width:100%;} }
  .table_img{width:55px; height:35px; border:.04em solid #f2f2f2; display:inline-block; vertical-align:top; overflow:hidden; position:relative;
    a{
      img{width:100%; margin:auto 0; color:#333333; font-size:34px; text-align:center; 
        -webkit-transition: width 1s, height 1s; /* For Safari 3.1 to 6.0 */
        transition: width 1s, height 1s; &:hover{width:105%;}
      }
    }
  }
  .table_section{width:96px; padding:10px 0; text-transform: capitalize; color:#405365;}
  .table_title{width:10em; padding:10px 0; color:#405365; text-align:center; overflow: hidden; text-transform:uppercase;}
  .table_stats{padding:10px 0; width:6.85em; text-align:center; color:#405365; text-transform:uppercase;
    a{color:#f26522; text-decoration: underline;}
  }

  .table_hover{padding:10px 0; width:6.85em; text-align:center;
    .table-box{color:#405365; text-decoration: underline; cursor:default;}
    .table-box-name {
      
      position:absolute;
      top: 20%;
      right: 8.5em;
      
      font-size:12px;
      text-transform:capitalization;
      line-height: 1.4;
      color:#405365;

      width: 25%;
      background-color:#f5f5f5;
      border:1px solid #ccc;
      opacity: 0;
      visibility: hidden;
      
      -webkit-box-shadow: 3px 5px 5px -3px rgba(0, 0, 0, 0.5); 
      -moz-box-shadow: 3px 5px 5px -3px rgba(0, 0, 0, 0.5); 
      box-shadow: 3px 5px 5px -3px rgba(0, 0, 0, 0.5);

      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);

      -webkit-transition: all 150ms linear;
      -o-transition: all 150ms linear;
      transition: all 150ms linear;
    }
    .table-box:hover + .table-box-name {
      opacity: 1;
      visibility: visible;
            -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
  }

  .table_created{padding:10px 0; height: 35px; width:8em; text-align:center;}
  .table_status{width:125px; height:35px; padding:10px 0; text-align:center; font-weight:bold;
    button{background:none; border:1px solid #405365; color:#405365; font-weight: bold; height:20px; 
      &:hover{color:#f2f2f2; border: 1px solid #aaa; background:#aaa}
    }
  }
  .dropdown2 {display:inline-block; position:relative; z-index:1; padding:10px 5px; float:right;
    .dropbtn2 {color:#405365; font-size:16px; margin:0 5px;  padding:0 5px; width:auto; cursor:pointer; text-align:center; text-decoration:none; border:none;
      &:hover,&:focus{color:#aaaaaa;}
    }
    .dropdown2-content{display:none; border:1px solid #ccc; padding:5px; position:absolute; top:0; right:25px; width:255px; min-height:35px; z-index:1; background:#f5f5f5;
      -webkit-box-shadow: 3px 5px 5px -3px rgba(0, 0, 0, 0.5); -moz-box-shadow: 3px 5px 5px -3px rgba(0, 0, 0, 0.5); box-shadow: 3px 5px 5px -3px rgba(0, 0, 0, 0.5);
      .index-btn-row{display:block;
        
        a.suspendbtn{color:#f26522;}
        button.acceptbtn,button{color:#f26522; background:none; text-align: left; border:none;}

        button,a,span{font:normal 12px arial, sans-serif; color:#405365; display:inline-block; width:100%; padding:5px; text-transform:capitalize; border:none;
          b{float:right;}
          i{margin-right:10px; font-size: 14px;}
          &:hover,&:focus{color:#f2f2f2; background:#405365;}
        }
                
      }
    }
    .show {display:block;}
  }
}